<!-- Form Builder Demo -->

<div class="container">
    <div class="card">
        <form>
        <div class="card-header d-flex">
            <!-- select the option for add input type and label -->
            <div class="form-group mx-4 d-flex">
                <label for="inputTypeUser">InputType &nbsp; &nbsp;</label>
                <select class="form-control" [(ngModel)]="selectedOption">
                    <option [selected]="true" *ngFor="let o of options">{{o.name}}</option>
                </select>
            </div>
            <div class="form-group d-flex">
                <label for="label">Enter&nbsp;Label &nbsp;&nbsp;</label>
                <input type="text" class="form-control mx-1" #newLabel (keyup.enter)="addLabel(newLabel.value)">
            </div>
            <div>
                <button (click)="addLabel(newLabel.value)" class="btn btn-primary ">Add</button>
                <button type="button" (click)="onReset()" class="btn btn-warning mx-3">Reset</button>
            </div>
        </div>
        <!-- main form with two dummy field -->
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <p>Selected option: {{ selectedOption }}</p>
            <div class="form-group col-md-8 mx-auto">
                <label for="first-name">First Name: </label>
                <input id="first-name" class="form-control" type="text" formControlName="firstName" required>
                <label for="last-name">Last Name: </label>
                <input id="last-name" type="text" class="form-control" formControlName="lastName">
            </div>

            <!-- formArray Name for create multiple field -->
            <div formArrayName="inputType">
                <hr>
                <h2> Your Selected Input Field</h2>
                <div class="form-group col-md-8 mx auto" *ngFor="let alias of inputType.controls; let i=index">

                    <!-- <label for="alias-{{ i }}" *ngFor="let labName of label">{{labName}}</label> -->
                    <label for="alias-{{ i }}">{{label[0]}}</label>
                    <input id="alias-{{ i }}" class="form-control" [type]="selectedOption" [formControlName]="i">
                </div> 
            </div>
            <br>
            <p>Complete the form to enable button.</p>
            <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
        </form>
    </div>
</div>





<script>

export class FormbuilderComponent implements OnInit {
    
    ngOnInit() {
    }
    
    // variable declaration
    selectedOption = [];
    label = [];

    options = [
        { name: "text" },
        { name: "email" },
        { name: "password" },
        { name: "date" },
        { name: "file" },
        { name: "url" },
        { name: "number" }
    ]

    constructor(private formBuilder: FormBuilder) { }

    // form group 
    profileForm = this.formBuilder.group({
        firstName: ['', Validators.required],
        lastName: [''],
        inputType: this.formBuilder.array([
        ])
    });

    // validation
    get inputType() {
        return this.profileForm.get('inputType') as FormArray;
    }

    //submit form 
    onSubmit() {
        console.warn(this.profileForm.value);
    }

    // add label in input field
    addLabel(newLabel: string) {
        if (newLabel != null) {
            this.label.push(newLabel);
            this.inputType.push(this.formBuilder.control(''));
        }


    }
    // Reset all form 
    onReset() {
        this.inputType.clear();
        this.profileForm.reset();
    }
}
</script>