<!-- Form Builder Demo -->

<div class="container">
    <div class="card">
        <!-- select the option for add input type and label -->
        <form (ngSubmit)="addInputTypeLabel()" [formGroup]="addInputandLabel" style="padding: 0;">
            <div class="card-header d-flex">
                <div class="form-group mx-4 d-flex">
                    <label for="inputTypeUser">InputType &nbsp; &nbsp;</label>
                    <select class="form-control" formControlName="inputTypeUser">
                        <option [selected]="true" *ngFor="let option of options">{{option.name}}</option>
                    </select>
                </div>
                <div class="form-group d-flex">
                    <label for="label">Enter&nbsp;Label &nbsp;&nbsp;</label>
                    <input type="text" class="form-control mx-1" formControlName="myLabel">
                </div>
                <!-- Add and Reset Input field -->
                <div>
                    <button type="submit" class="btn btn-primary ">Add</button>
                    <button type="button" (click)="onReset()" class="btn btn-warning mx-3">Reset</button>
                </div>
            </div>
        </form>

        <!-- main form with Selected iput type and label -->
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
                    <!-- formArray Name for create multiple field -->

                    <div formArrayName="inputType">
                        <h3 class="text-center" *ngIf="selectedField">Please Select Input Field and Label</h3>
                        <div class="form-group" *ngFor=" let i=index; let data of dataArray">
                            <label for="MyLabel">{{data.myLabel}}</label>
                            <input id="input-Type" class="form-control" type="{{data.inputTypeUser}}"
                                [formControlName]="i">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" [disabled]="!mainForm.valid"
                            *ngIf="submitButton">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>